---
title: 'Assasin library system'
type: 'Freelance'
url: 'https://assassinassets.com/'
thumb: 'assasin_thumb.jpg'
features: 'Vue.js Nuxt GraphQL WebGl'
description: 'Веб-приложение для каталогизации ассэтов'
video: 'src/img/projects/assasin.mp4'
---

<p>Разработка веб-приложения для хранения, поиска, загрузки и выгрузки ассэтов и 3d моделей</p>
<p>Работу интерфейса вживую можно посмотреть в <a href="https://youtu.be/8GOtA9EGU3s?t=3082" target="__blank">обучающем видео</a> или запросить demo доступ.</p>

<video src="/src/img/projects/assasin.mp4" autoplay="" loop="" muted="muted" playsinline="" controlslist="nodownload"></video>
