---
title: 'Assasin'
url: 'https://assassinassets.com/'
thumb: 'assasin_thumb.jpg'
features: 'Vue.js, Nuxt, GraphQL, WebGl'
description: 'Assets library system'
video: 'src/img/projects/assasin.mp4'
---

<video src="/src/img/projects/assasin.mp4" autoplay="" loop="" muted="muted" playsinline="" controlslist="nodownload"></video>

Большой проект
