---
title: 'Epio'
type: 'Freelance'
url: 'https://epio.com/'
thumb: 'epio_thumb.jpg'
features: 'Full-stack Wordpress React'
description: 'Full-stack разработка сайта компании'
---

Разработка сайта компании под ключ. Wordpress на стороне backend, React-компоненты для управлеения контентом в админке - на стороне frontend.

![epio](/src/img/projects/epio_page.jpg)
