---
title: 'Excel'
type: 'Freelance'
url: 'https://excelimpact.com/'
thumb: 'excel_thumb.jpg'
features: 'Astro SCSS'
description: 'Эффектный сайт для маркетингового агенства'
video: 'src/img/projects/excel.mp4'
---

<p>Полная разработка сайта с множеством анимаций и спеццэфектов. Сайт сделан на фреймворке Astro, без бекенда.</p>

<video src="/src/img/projects/excel.mp4" autoplay="" loop="" muted="muted" playsinline="" controlslist="nodownload"></video>
