---
title: 'Infiniti QX50'
type: 'Freelance'
thumb: 'infiniti_thumb.jpg'
features: 'NativeJS SVG'
description: 'Анимированный промо сайт для новой модели Infinity'
repo: 'https://github.com/KorolPaul/infinity'
---

<p>Очень сложный сайт со связанными между собой анимациями. В каждом разделе информации об авто - по 2 интерактивных блока. Все выполнено средствами чистого CSS и JS, без фреймворков.</p>

<video src="/src/img/projects/infiniti.mp4" autoplay="" loop="" muted="muted" playsinline="" controlslist="nodownload"></video>
