---
title: 'AR application landing'
type: 'Freelance'
url: 'https://newlayer.ar-generation.com/'
thumb: 'new_layer_thumb.jpg'
features: 'NativeJS SVG'
description: 'Верстка лендинга для приложения дополненной реальности'
repo: 'https://github.com/IgorErmakov/new-layer'
---

<p>Лендинг без бекенда, с довольно сложными анимациями. Все выполнено на чистом CSS и JS, безо всяких библиотек и фреймворков.</p>
<p>Изначально мне в руки попал только статичный макет с дизайном, все анимации и спецэфекты были придуманы самостоятельно в процессе разработки.</p>

<video src="/src/img/projects/new-layer.mp4" autoplay="" loop="" muted="muted" playsinline="" controlslist="nodownload"></video>
