---
title: 'Yoyo design agency'
type: 'Freelance'
url: 'https://yoyodesign.com/'
thumb: 'yoyo_thumb.jpg'
features: 'NativeJS TypeScript'
description: 'Насыщенный выверенными анимациями сайт британского дизайн-агенства'
---

<p>Сайт с тщательно продуманными анимациями (интерактив, переходы между страницами и т.д.). Все выполнено средствами чистого CSS и JS(TS), без фреймворков.</p>

<video src="/src/img/projects/yoyo.mp4" autoplay="" loop="" muted="muted" playsinline="" controlslist="nodownload"></video>

