html {
    scroll-behavior: smooth;
}

body {
    color: $color;
    font: #{$font-size__small}/#{1.4} $font-family;
    background-color: $bg_color;
    padding: 0;
    scroll-behavior: smooth;
    @include tablet {
        font-size: $font-size;
    }
}

a {
    color: $cRed;
    transition: .2s $easing color;

    &:hover {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

p {
    margin: 0 0 10px;
    @include tablet {
        margin-bottom: 18px;
    }
}

img,
video {
    max-width: 100%;
}

button,
input,
textarea {
    &:focus {
        outline: none;
    }
}

table {
    min-width: 100%;
}

ul {
    padding: 0;
}

a[name] {
    position: relative;
    top: -50px;
}

code {
    display: block;
    background-color: $cGrey;
}
