.background {
    position: absolute
}

.background_bottom {
    position: fixed;
    bottom: 589px;
    z-index: -11;
    right: 70%;
    filter: blur(1.5px)
}

.background_top {
    position: fixed;
    top: -8px;
    z-index: -11;
    left: 50%;
    filter: blur(1.5px)
}

.background_right {
    right: 159px;
    position: fixed;
    z-index: -11;
    top: 220px;
    filter: blur(0.5px)
}

.background_left {
    z-index: -11;
    position: fixed;
    display: flex;
    left: -5px;
    top: 10%;
    filter: blur(0.5px)
}

.background_back {
    z-index: -12;
    position: fixed;
    display: flex;
    left: -5px;
    top: -12%;
    filter: blur(1.5px)
}

.path {
    position: absolute;
    z-index: -10
}

.energy {
    position: absolute;
    z-index: 1;
    stroke-dasharray: 50;
    -webkit-animation: dash 25s linear infinite;
    animation: dash 25s linear infinite;
    filter: blur(1.5px)
}

.background_back .energy {
    position: absolute;
    z-index: 1;
    stroke-dasharray: 60;
    -webkit-animation: dash 41s linear infinite;
    animation: dash 41s linear infinite;
    filter: blur(6.5px)
}

.background_top .energy {
    position: absolute;
    z-index: 1;
    stroke-dasharray: 60;
    -webkit-animation: dash 141s linear infinite;
    animation: dash 141s linear infinite;
    filter: blur(6.5px)
}

.background_bottom .energy {
    position: absolute;
    z-index: 1;
    stroke-dasharray: 60;
    -webkit-animation: dash 81s linear infinite;
    animation: dash 81s linear infinite;
    filter: blur(2.5px)
}

.background_right .energy,
.background_left .energy {
    position: absolute;
    z-index: 1;
    stroke-dasharray: 60;
    -webkit-animation: dash 161s linear infinite;
    animation: dash 161s linear infinite;
    filter: blur(2px)
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 1810
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 1810
    }
}
