.footer {
    background: $cGrey;
    font-size: 20px;

    &_holder {
        @include layout;
        padding-top: 32px;
        padding-bottom: 32px;
        @include tablet {
            display: flex;
            justify-content: space-between;
            gap: 46px;
        }
        @include desktop {
            padding-top: 62px;
            padding-bottom: 62px;
        }
    }
    &_left,
    &_right {
        flex-grow: 1;
    }
    &_left {
        text-align: center;
        margin: 0 0 25px;
        @include tablet {
            text-align: left;
            margin: 0;
        }
    }
    &_right {
        text-align: center;
        @include tablet {
            text-align: right;
        }
    }
    &_copyrights {
        margin-bottom: 6px;
    }

    a {
        color: $color;
        transition: .2s $easing opacity;

        &:hover {
            opacity: .6;
        }
        &:active {
            opacity: .8;
        }
    }
}
