.footer {
    background: $cGrey;
    font-size: 20px;

    &_holder {
        @include layout;
        display: flex;
        justify-content: space-between;
        gap: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
        @include tablet {
            gap: 46px;
        }
        @include desktop {
            padding-top: 62px;
            padding-bottom: 62px;
        }
    }
    &_left,
    &_right {
        flex-grow: 1;
    }
    &_right {
        text-align: right;
    }
    &_copyrights {

    }
}
