.about {
    
    &_content {
        display: flex;
        flex-direction: column;
        text-align: left;
        @include desktop {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &_text {
        order: 2;
        @include desktop {
            order: initial;
        }
    }
    &_image {
        order: 1;
        width: 100%;
        margin: 0 0 30px;
        box-shadow: 0 0 20px 2px #13151b;
        mix-blend-mode: luminosity;
        filter: grayscale(100%);
        transition: .2s $easing filter;
        @include desktop {
            order: initial;
            max-width: 40%;
            margin: 0 0 0 50px;
        }

        &:hover {
            filter: grayscale(0%);
            mix-blend-mode: normal;
        }
    }

    dt {
        color: $cRed;
        font-size: 16px;
    }

    dd {
        margin: 0 0 20px;
    }

    strong {
        color: $cGreen;
    }
}
